@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap');

* {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body.nivel-6 #square-2 {
	width: 23px;
	height: 23px;
	margin: 0 2px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 12% auto;
	padding: 30px;
	border: 2px solid #000000;
	border-radius: 5px;
	width: 100%;
	max-width: 600px;
	text-align: center;
	position: relative;
}

.close {
	position: absolute;
	top: -4px;
	right: 4px;
	font-size: 34px;
	cursor: pointer;
	transition: 0.2s ease;
	color: rgba(0, 0, 0, 0.514);
}

.close:hover {
	color: black;
}

.modal-image {
	width: 100%;
	height: auto;
}

main {
	display: flex;
	height: 597px;
	background: #92c3ffc2;
}

.container {
	display: flex;
	width: 100%;
	height: 570px;
	gap: 10px;
	padding: 10px;
	max-width: 1050px;
}

section {
	background: #ffffff;
	border: 2px solid black;
	border-radius: 7px;
}

.tools-board {
	width: 210px;
	padding: 15px 22px 0;
}

.tools-board .row {
	margin-bottom: 20px;
}

.row .options {
	list-style: none;
	margin: 10px 0 0 5px;
}

.row .options .option {
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-bottom: 10px;
}

.option:is(:hover, .active) img {
	filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span, label) {
	color: #5a6168;
	cursor: pointer;
	padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
	color: #4a98f7;
}

.option #fill-color {
	cursor: pointer;
	height: 14px;
	width: 14px;
}

#fill-color:checked ~ label {
	color: #4a98f7;
}

.option #size-slider {
	width: 100%;
	height: 5px;
	margin-top: 10px;
}

.colors .options {
	display: flex;
	justify-content: space-between;
}

.colors .option {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin-top: 3px;
	position: relative;
}

.colors .option:nth-child(1) {
	background-color: #fff;
	border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
	background-color: #000000;
}

.colors .option:nth-child(3) {
	background-color: #f3250a;
}

.colors .option:nth-child(4) {
	background-color: #07f041;
}

.colors .option:nth-child(5) {
	background-color: #4a98f7;
}

.colors .option.selected::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	height: 12px;
	width: 12px;
	background: inherit;
	border-radius: inherit;
	border: 2px solid #fff;
	transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
	border-color: #ccc;
}

.option #color-picker {
	opacity: 0;
	cursor: pointer;
}

.buttons button {
	width: 100%;
	color: #fff;
	border: none;
	padding: 11px 0;
	font-size: 0.9rem;
	margin-bottom: 13px;
	background: none;
	border-radius: 4px;
	cursor: pointer;
}

.buttons .clear-canvas {
	color: #6c757d;
	border: 1px solid #6c757d;
	transition: all 0.3s ease;
}

.clear-canvas:hover {
	color: #fff;
	background: #6c757d;
}

.buttons .save-img {
	background: #4a98f7;
	border: 1px solid #4a98f7;
}

.drawing-board {
	flex: 1;
	overflow: hidden;
}

.drawing-board canvas {
	width: 100%;
	height: 100%;
	margin: 0%;
}

.button button {
	position: fixed;
	display: flex;
	left: 95%;
	bottom: 20px;
	cursor: pointer;
	border: 0;
	padding: 0;
}

.objective img {
	position: relative;
	width: 240px;
	margin-top: 10px;
	border: 4px solid white;
	border-radius: 5px;
	margin-bottom: 5px;
}

.objective img:hover {
	cursor: pointer;
}

.objective p {
	position: relative;
	justify-content: center;
	text-align: center;
}
