@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap');

* {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body.nivel-5 #circle-2 {
	width: 25px;
	height: 25px;
	margin: 0 2px;
	transform: rotate(45deg);
}

.slider-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.slide.active .slide-img {
  transform: scale(1.1);
}

.text-overlay {
  position: absolute;
  width: 100%;
  bottom: 0%;
  height: 15%;
  background-color: rgba(255, 255, 255);
  text-align: initial;
  padding: 10px;
}

div .text-overlay {
  padding-right: 40%;
}

.buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}

#prevBtn {
  left: 20px;
}

#nextBtn {
  right: 20px;
}

