@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap');

* {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body.nivel-7 #rombo-3 {
	width: 23px;
	height: 23px;
	margin: 0 6px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.video-container {
	width: 65%;
	height: 0;
	padding-bottom: 36.5%;
	position: relative;
	border: 7px solid black;
	border-radius: 8px;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-link {
	margin-top: 10px;
	text-align: center;
	margin-right: 53%;
}
